.entities-main-wrapper {
  width: 70%;
  float: left;
  margin: 20px 5% 20px 5%;
  margin-bottom: 30px;
}

.entities-title {
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
  margin-left: 20px;
}

.entities-blocks-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*Resume your work*/

div.single-entity {
  width: 30%;
  background-color: white;
  box-shadow: 0px 5px 15px 2px #e0e0e0;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
}

.entity-content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entity-title {
  margin-top: -5px;
  font-size: 16px;
  color: #374BA3
}

.entity-adress {
  font-size: 12px;
  color: #878B91
}

.entity-logo {
  width: 64px;
  height: 64px;
}