.entities-main-wrapper {
  width: 70%;
  float: left;
  margin: 20px 5% 20px 5%;
  margin-bottom: 30px;
}

.entities-title {
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
  margin-left: 20px;
}

.entities-blocks-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

div.single-entity {
  width: 30%;
  background-color: white;
  box-shadow: 0px 5px 15px 2px #e0e0e0;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
}

.entity-content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entity-title {
  margin-top: -5px;
  font-size: 16px;
  color: #374BA3
}

.entity-adress {
  font-size: 12px;
  color: #878B91
}

.entity-logo {
  width: 64px;
  height: 64px;
}

.change-view {
  margin-right: 100px;
}

.change-view button:nth-of-type(1) {
  margin-right: 10px;
}

.change-view button {
  background-color: #F5F7F9;
  border: none;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-icon {
  width: 20px;
  cursor: pointer;
}

@media(max-width:980px) {
  .entities-main-wrapper {
    width: 90%;
  }
}

@media(max-width:600px) {
  div.single-entity {
    width: 45%;
  }
}

@media(max-width: 450px) {
  h3.entity-title {
    font-size: 14px;
  }

  .entity-logo {
    width: 48px;
    height: 48px;
  }
}