.sidebar-wrapper {
  width: 15%;
  margin-left: 5%;
  margin-top: 20px;
  float: left;
}

.profile {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 2px #e0e0e0;
  position: relative;
}

.top-section {
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 30px 0;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

h1.profile-name {
  font-size: 18px;
  color: #374BA3;
  margin: 10px 0 5px 0;
  font-weight: 500;
}

h2 {
  font-size: 14px;
  color: #878B91;
  font-weight: 300;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin: 5px 0;
}

.left {
  display: flex;
}

.left-icon {
  margin-right: 10px;
}

.right-icon {
  border: 1px solid black;
  padding: 3px 5px;
  height: 22px;
  width: 32px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #000;
}

.links {
  margin-top: 20px;
  padding: 0 15px;
}

.link-wrapper {
  margin-top: 20px;
  display: flex;
}

.link-wrapper p {
  font-size: 16px;
  color: black;
}

.link-icon {
  margin-right: 20px;
  width: 24px;
}

.left-bar-link {
  text-decoration: none;
  color: black;
}

@media(max-width:1230px) {
  .left p {
    font-size: 12px;
  }

  .right-icon {
    height: 22px;
    width: 22px;
  }

  .left-bar-link {
    font-size: 12px;
  }
}

@media(max-width:980px) {

  .sidebar-wrapper {
    width: 90%;
  }

  .left p {
    font-size: 16px;
  }

  .right-icon {
    height: 22px;
    width: 32px;
  }

  .left-bar-link {
    font-size: 16px;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .link-wrapper {
    margin-left: 20px;
  }
}

@media(max-width:450px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}